.pillar-intro-wrap {
  min-height: 540px;
  justify-content: space-between;
  margin-bottom: 40px;
  flex-direction: column;
  .pillar-intro-copy {
    display: flex;
    align-items: flex-end;
    .intro-copy-number {
      align-self: flex-end;
      h2 {
        align-self: flex-end;
        line-height: 35rem;
        font-size: 38.6rem;
        margin: 0 20px 0 40px;
      }
    }
    .intro-copy-headline {
      flex-basis: 35%;
      h2 {
        font-size: 4.3rem;
        line-height: 5.2rem;
        font-weight: lighter;
        span {
          display: block;
          font-size: 5.5rem;
          line-height: 5.9rem;
          font-weight: bold;
          width: 75%;
          &::before {
            content: "\A";
          }
        }
      }
    }
    .pillar-intro-animation {
      display: flex;
      align-items: flex-end;
      flex-basis: 50%;
      img {
        max-width: 25%;
      }
    }
  }
  .pillar-intro-end {
    font-size: 4.3rem;
    line-height: 5.2rem;
    font-weight: lighter;
    p {
      width: 46%;
      margin: 0 0 40px 40px;
      font-family: "CiscoSansTTLight", sans-serif;
      font-size: 3.4rem;
      line-height: 4.1rem;
      margin-top: -20px;
    }
  }
  .pillar-intro-copy-mobile {
    display: flex;
    flex-wrap: wrap;
    .intro-copy-number {
      width: 40%;
      h2 {
        font-size: 19rem;
        line-height: 18rem;
        margin: 0 0 0 10px;
        text-align: right;
      }
    }
    .intro-copy-headline {
      width: 55%;
      font-size: 2.7rem;
      line-height: 3rem;
      h2 {
        font-size: 2rem;
        font-weight: lighter;
        margin-left: 15px;
        span {
          font-size: 2.5rem;
          line-height: 2.8rem;
          display: block;
          font-weight: bold;
          &::before {
            content: "\A";
          }
        }
      }
    }
    .pillar-intro-animation {
      width: 100%;
      order: -1;
      img {
        width: 25%;
      }
    }
  }
  .pillar-intro-end-mobile {
    padding: 0 10px;
    width: 80%;
    margin: 0 auto;
    p {
      font-size: 2rem;
      margin: 0 0 0 10px;
    }
  }
}
.pill-wrap {
  order: -1;
  @media all and (min-width: 1024px) {
    order: 0;
  }
}
