.pillar-tabs-wrap {
    background-image: url('/images/pillar-tabs/pillar-tabs-bkg.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    flex-direction: column;
    margin-bottom: 40px;
    position: relative;
}
.pillar-slides-nav {
    position: absolute;
    height: 100px;
    width: 70px;
    right: 40px;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: flex-end;
    .slidesNavItem {
        padding: 5px;
        background: #fff;
        border-radius: 100%;
        height: 10px;
        width: 10px;
        cursor: pointer;
        color: #fff;
        font-size: 5px;
        &.active {
            color: #18bce9;
            background-color: #18bce9;
        }
    }
    // z-index: 10;
}
.pillar-slides-arrow {
    position: absolute;
    bottom: 10px;
    width: 100px;
    height: 100px;
    &.left,
    &.double {
        right: 25%;
    }
    &.right {
    }
    img {
        margin: 0 12px;
    }
}
.arrowWrap {
    position: absolute;
    bottom: 20px;
    width: 100px;
    height: 35px;
    left: 25%;
    img {
        margin-right: 20px;
    }
}
