.pin-wrap {
    width: 100%;
    position: relative;
    height: 520px;
}
.proof-poins-wrap {
    min-height: 520px;
    width: 100%;
    // background-image: transparent;
    background-repeat: no-repeat;
    background-position: bottom right -500px;
    margin-bottom: 40px;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    .copy-block {
        width: 90%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        h2 {
            font-size: 4rem;
            line-height: 4.4rem;
            margin-left: 10px;
        }
        p {
            font-size: 2rem;
            line-height: 3rem;
            margin: 10px;
        }
        em {
            font-size: 1.7rem;
            margin-left: 10px;
        }
        .lightBlueCopy {
            margin: 0 0 0 0px;
        }
        a.lightBlueCopy {
            margin: 0;
        }
    }
    .quote-block {
        width: 100%;
        background-color: #e3f6fb;
        background-image: url('/images/proof-points/proof-points-bkg-update.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        position: relative;
        height: 100%;
        z-index: 2;
        order: -1;
        // transition: all 0.3s ease-in-out;
        &.slideOut {
            left: 100vw;
        }
        .copy {
            // background-color: #e6faff;
            height: 100%;
            display: flex;
            font-size: 4rem;
            line-height: 4.4rem;
            font-weight: bold;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            //   padding-left: 7%;
            text-align: left;
            text-indent: 50px;

            p {
                margin: 0;
                width: 85%;
                background-image: url('/images/proof-points/proof-points-quote-right.png');
                background-size: 50px 34px;
                background-position: top left;
                background-repeat: no-repeat;
                margin: 20px 25px;
            }
        }
    }
    @media all and (min-width: 1024px) {
        background-image: url('/images/proof-points/proof-points-bkg-update.png');
        max-width: 1440px;
        flex-direction: row;
        background-color: transparent;
        .copy-block {
            width: 42%;
            margin-left: 0px;
            // background-color: #fff;
            h2 {
                font-size: 4.3rem;
                line-height: 4.7rem;
            }
            h2,
            p {
                margin-left: 40px;
            }
            .lightBlueCopy {
                margin: 0 0 0 40px;
            }
        }
        .quote-block {
            background-position: bottom left;
            background-color: transparent;
            width: 90%;
            position: absolute;
            left: 0;
            order: 0;
            .copy {
                width: 62%;
                margin-left: 42.6%;
                text-indent: 0px;
                text-align: right;
                font-size: 5.5rem;
                line-height: 6.2rem;
                p {
                    background-position: top left 42%;
                    background-size: 80px 64px;
                    text-indent: 45px;
                    margin: 20px;
                }
            }
        }
    }
}
