.organization-copy-wrap {
    justify-content: center;
    margin-bottom: 40px;
    .organization-copy {
        text-align: left;
        width: 100%;
        p {
            font-size: 1.7rem;
            font-weight: lighter;
            line-height: 2.8rem;
            font-family: 'CiscoSansTTLight', sans-serif;
        }
        h2 {
            font-size: 5rem;
            line-height: 5.9rem;
        }
        p,
        h2 {
            margin: 10px;
        }
        @media all and (min-width: 1024px) {
            width: 90%;
            text-align: left;
            margin-left: 40px;
            padding: 0 0 10rem 0;
            p {
                font-size: 3.4rem;
                font-weight: lighter;
                line-height: 4.1rem;
            }
            h2 {
                font-size: 7rem;
                line-height: 7.7rem;
                margin: 0 0 25px 0px;
            }
            p:last-child {
                margin-top: 40px;
            }
        }
    }
}
