.header-wrap {
  margin-bottom: 25px;
  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  @media all and (min-width: 1024px) {
    margin-bottom: 50px;
    .header {
      min-height: 315px;
      img {
        margin-left: 40px;
      }
    }
  }
  @media all and (max-width: 1024px) {
    img {
      margin: 0 auto;
      padding: 20px 0;
    }
  }
}
