.pillar-tab-nav {
    display: none;
    width: 100%;
    font-size: 2rem;
    line-height: 4.5rem;
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        .tabs-nav {
            cursor: pointer;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center top;
            text-transform: capitalize;

            a {
                text-decoration: underline;
                color: #fff;
            }
            a:visited {
                color: #fff;
            }
        }
        .tabs-nav.active {
            color: #fff;
        }
    }
    @media all and (min-width: 1024px) {
        display: block;
        font-size: 5rem;
        line-height: 9.5rem;
        ul {
            justify-content: space-around;
        }
    }

    .mobileTitle {
    }
    #secure {
        padding: 0 40px;
    }
    #Reimagine.active,
    #Reimagine:hover {
        background-image: url('/images/pillar-tabs/pillar-nav-reimagine.png');
        color: #fff;
    }
    #Secure.active,
    #Secure:hover {
        background-image: url('/images/pillar-tabs/pillar-nav-secure_update.png');
        color: #fff;
    }
    #Transform.active,
    #Transform:hover {
        background-image: url('/images/pillar-tabs/pillar-nav-transform.png');
        color: #fff;
    }
    #Empower.active,
    #Empower:hover {
        background-image: url('/images/pillar-tabs/pillar-nav-empower.png');
        color: #fff;
    }
}
