.outro-wrap {
    min-height: 1000px;
    position: relative;
    .outro-shape-container {
        min-height: 100%;
        width: 100%;
        position: absolute;
        top: 150px;
        left: 0;
        width: 100%;
        height: 80%;
        background-image: url('/images/outro/outro-bkg.jpg');
        background-position: bottom center;
        background-size: cover;
        clip-path: polygon(0 36%, 100% 0, 100% 100%, 0 72%);
        transition: all 0.5s ease-out;
        z-index: 0;
        &.expand {
            clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 100%);
        }
    }
    .outro-streaks {
        z-index: 1;
        width: 100%;
        text-align: center;
        position: relative;
        .lightBlueStreak {
            position: absolute;
            left: 0;
            top: 80px;
            max-width: 600px;
        }
        .darkBlueStreak {
            position: absolute;
            right: 0;
            top: 230px;
        }
        img {
            max-width: 100%;
        }
    }
    .scrolltop {
        position: absolute;
        bottom: 155px;
        right: 93px;
        z-index: 11;
        height: 64px;
        width: 39px;
        cursor: pointer;
    }
}
