.intro-headelines {
    background-image: url('/images/intro/intro-bkg-top.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    width: 100%;
    position: relative;
    z-index: 2;
    min-height: 450px;
    h1,
    h2 {
        font-size: 4.6rem;
        line-height: 4.9rem;
        margin: 0;
        position: absolute;
        opacity: 0;
        max-width: 80%;
        span {
            display: block;
            &::before {
                content: '\A';
            }
        }
    }
    h1 {
        margin-bottom: 4rem;
    }
    h2 {
        align-self: flex-end;
    }

    // Tablet and higher
    @media all and (min-width: 1024px) {
        // margin-bottom: 40px;
        min-height: 810px;
        margin-bottom: 0px;
        h1,
        h2 {
            font-size: 11.6rem;
            line-height: 11.9rem;
            margin: 0;
            span {
                display: block;
                &::before {
                    content: '\A';
                }
            }
        }
        h1 {
            margin-bottom: 4rem;
        }
    }
    @media all and (max-width: 1024px) {
    }
}
