.intro-wrap {
    margin-bottom: 50px;
    // background-image: url('/images/intro/intro-bkg-bottom-solid.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    flex-direction: column;
    background-size: auto 30%, auto 65%, auto 25%;
    @media all and (min-width: 1024px) {
        background-size: auto;
        background-position: bottom left;
        background-image: url('/images/intro/intro-bkg-bottom-solid.jpg');
    }
    position: relative;
}
.intro-copy-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .intro-copy-block-wrap {
        width: 100%;
        z-index: 10;
        .copy-block {
            background-color: #0e264c;
            color: #fff;
            padding: 40px 20px 20px;
            margin-bottom: 20px;
            text-align: left;
            overflow: hidden;
            h3 {
                font-size: 2.7rem;
                line-height: 3rem;
            }
            p {
                font-size: 1.9rem;
                line-height: 2.9rem;
                font-family: 'CiscoSansTTLight', sans-serif;
            }
            h3,
            p {
                margin: 0 0 10px 0px;
                width: 90%;
            }
            p:last-child {
                margin: 0;
            }
            &.alt {
                background-color: #204370;
                height: 115px;
                margin-bottom: 0px;
            }
        }
        @media all and (min-width: 1024px) {
            width: 49%;
            .intro-copy-block-wrap {
                width: 80%;
            }
            .copy-block {
                text-align: right;
                h3 {
                    font-size: 4.3rem;
                    line-height: 4.7rem;
                }
                p {
                    font-size: 3.1rem;
                    line-height: 3.8rem;
                }
                h3,
                p {
                    margin: 0 0 30px 15%;
                    width: 80%;
                }
                p:last-child {
                    margin: 0 0 0 15%;
                }
                &.alt {
                    height: 180px;
                }
            }
        }
    }
    @media all and (min-width: 1024px) {
        flex-direction: row;
    }
}
.intro-burst-wrapper {
    background-image: url('/images/intro/intro-bkg-bottom-burst_update.png');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 115% auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 51%;
    height: 100%;
    z-index: 1;
    display: none;
    // transition: background-size 2.5s ease-in;
    &.expand {
        background-size: 120%;
    }
    @media all and (min-width: 1024px) {
        display: block;
        background-position: bottom left;
    }
}
