main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    overflow: hidden;
}
.bigHeadline {
    font-size: 11.6rem;
    line-height: 10.9rem;
}
.copyHeadline {
    font-size: 4.3rem;
    line-height: 4.7rem;
}
.regularCopy {
    font-size: 3.4rem;
    line-height: 4.1rem;
}
.smallerCopy {
    font-size: 2rem;
    line-height: 3rem;
}
