// @media all and (min-width: 1024px) and (max-width: 1280px) { }

// @media all and (min-width: 768px) and (max-width: 1024px) { }

// @media all and (min-width: 480px) and (max-width: 768px) { }

// @media all and (max-width: 480px) { }
// @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
@font-face {
  font-family: "ciscosans";
  src: url("/fonts/CiscoSansTTRegular.woff2") format("woff2"),
    url("/fonts/CiscoSansTTRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ciscosansLight";
  src: url("/fonts/CiscoSansTTLight.woff2") format("woff2"),
    url("/fonts/CiscoSansTTLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  font-family: "ciscosans", sans-serif;
}

body {
  font-size: 16px; /* px fallback */
  font-size: 1.6rem; /* default font-size for document */
  line-height: 1.5; /* a nice line-height */
  display: block;
  // font-family: 'ciscosans';
  //   overflow: hidden;
}

#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.darkBlueCopy {
  color: #204370;
}
.lightBlueCopy {
  color: #18bce9;
}
