.pin-wrap {
    width: 100%;
    position: relative;
    height: 520px;
}
.proof-poins-wrap-alt {
    min-height: 520px;
    width: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: bottom left -450px;
    margin-bottom: 40px;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    .copy-block {
        width: 90%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        h2 {
            font-size: 4rem;
            line-height: 4.4rem;
            margin-left: 10px;
        }
        p {
            font-size: 2rem;
            line-height: 3rem;
            margin-left: 10px;
        }
        em {
            font-size: 1.7rem;
            margin-left: 10px;
        }
        .lightBlueCopy {
            margin: 0 0 0 0px;
        }
        a.lightBlueCopy {
            margin: 0;
        }
    }
    .quote-block {
        width: 100%;
        background-color: #e3f6fb;
        background-image: url('/images/proof-points/proof-points-bkg-alt-update.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        position: relative;
        right: 0;
        height: 100%;
        z-index: 2;
        order: -1;
        // transition: all 0.3s ease-in-out;
        &.slideOut {
            left: 100vw;
        }
        .copy {
            // background-color: #e6faff;
            height: 100%;
            display: flex;
            font-size: 4rem;
            line-height: 4.4rem;
            font-weight: bold;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            text-align: left;
            text-indent: 65px;

            p {
                margin: 0;
                width: 90%;
                background-image: url('/images/proof-points/proof-points-quote-right.png');
                background-size: 60px 44px;
                background-position: top left;
                background-repeat: no-repeat;
                margin: 20px 25px;
            }
        }
    }
    @media all and (min-width: 1024px) {
        background-image: url('/images/proof-points/proof-points-bkg-alt-update.png');
        max-width: 1440px;
        flex-direction: row;
        .copy-block {
            width: 42%;
            margin-left: 56%;
            text-align: right;
            h2,
            p {
                margin-left: 40px;
            }
        }
        .quote-block {
            background-color: transparent;
            background-position: bottom left;
            width: 95%;
            position: absolute;
            right: 0;
            order: 0;
            text-align: right;
            h2,
            p {
                margin-left: 40px;
            }
            .copy {
                margin-right: 42.6%;
                width: 62%;
                font-size: 5.5rem;
                line-height: 6.2rem;
                p {
                    background-image: url('/images/proof-points/proof-points-quote-right.png');
                    text-indent: 80px;
                    text-align: left;
                }
            }
        }
    }
}
