.pillar-tabs-slides {
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease;
    background-color: none;
    a {
        text-decoration: none;
    }
    &.activeBkg {
        background-color: #fff;
        .pts-right {
            img {
                // margin: 22px 0;
                animation: imageReveal 0.5s 1;
            }
        }
        .pts-left {
            order: 0;
        }
        .pts-right {
            order: -1;
        }
    }
    &.secureSpecial {
        background-image: url('/images/pillar-tabs/secure/slide-3-image.jpg');
    }
    .pts-left {
        animation: leftIntro 0.25s 1;
        width: 85%;
        padding: 0 5%;
        line-height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h3 {
            font-size: 4.3rem;
            margin-bottom: 0px;
        }
        p {
            font-size: 2rem;
        }
    }
    .pts-right {
        animation: rightIntro 0.25s 1;
        background-color: #fff;
        width: 100%;
        align-items: flex-end;
        margin-bottom: -7px;
        img {
            width: 100%;
        }
        order: -1;
    }
    @media all and (min-width: 1024px) {
        flex-direction: row;
        .pts-left {
            width: 90%;
            order: 0;
            p:last-child {
                margin: 0 0 10px 0;
            }
        }
        .pts-right {
            background-color: transparent;
            order: 0;
        }
    }
}
@keyframes leftIntro {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes rightIntro {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 0;
        transform: translateX(100vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.linkSpan {
    color: #fff;
    text-decoration: none;
    .linkUnderline {
        text-decoration: underline;
    }
}
.mobileTitle {
    font-size: 4.2rem;
    margin: 10px;
    padding: 15px 0px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    &#Reimagine {
        background-image: url('/images/pillar-tabs/pillar-nav-reimagine-mobile.png');
        color: #fff;
    }
    &#Secure {
        background-image: url('/images/pillar-tabs/pillar-nav-secure_update-mobile.png');
        color: #fff;
    }
    &#Transform {
        background-image: url('/images/pillar-tabs/pillar-nav-transform-mobile.png');
        color: #fff;
    }
    &#Empower {
        background-image: url('/images/pillar-tabs/pillar-nav-empower-mobile.png');
        color: #fff;
    }
}
